<div class="row">
	<div class="large-8 large-centered columns">
		<h1>Grocery List</h1>
		<table class="list">
<!-- 			<tr>
				<th></th>
				<th></th>
				<th></th>
				<th></th>
			</tr> -->

			<% @ingredients.each do |i| %>
				<tr>
					<td class="name"><%= i.name %></td>
		      <td class="quantity"><input type="text" value="<%= i.quantity %>"/></td>
					<td class="unit"><%= i.quantity_units %></td>
					<td>
						<div class="switch radius">
						  <input id="switch_<%=i.id%>" checked type="checkbox">
						  <label for="switch_<%=i.id%>"></label>
						</div> 
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
