<div class="row">
	<div class="large-6 large-centered columns">  
		<h1>New Ingredient</h1>
		<h3><%= @meal_name %></h3>
		<%= simple_form_for [@meal, @ingredient] do |f| %>
			<%= f.input  :name %>
			<%= f.input  :quantity %>
			<%= f.input  :quantity_units, collection: ["Package", "Cups", "Oz", "Lbs"] %>
			<%= f.button :submit %>
		<% end %>
	</div>
</div>