<div class="row">
	<div class="large-12 columns">
		<div class="meal-box panel">
			<ul>
				<% @meals.each do |meal| %>
			  	<li class="meal draggable" meal="<%=meal.id%>">
			  		<i class="fa fa-ellipsis-v"></i>
      			<%= image_tag meal.image %>
      			<div class="day-meal-name">
      				<span><%= meal.name %></span>
      			</div>
    			</li>
			  <% end %>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<% @days.each do |day| %>
		<div class="large-3 columns end day-block">
      <div class="panel">
        <h4 class="day-title"><%= day.name %></h4>
        <h6 class="subheader">
        	<hr/>
        	<% if day.meals.nil? || day.meals.length == 0 %>
        		<ul class="sortable" id="<%= day.number %>">
        		</ul>
        	<% else %>
        		<ul class="sortable" id="<%= day.number %>">
	        		<% day.day_meals.each do |meal| %>
	        			<li class="meal" meal="<%=meal.id%>">
	        				<i class="fa fa-ellipsis-v"></i>
		        			<i class="fa fa-times remove" id="<%= day.number %>"></i>
		        			<%= image_tag meal.image %>
		        			<div class="day-meal-name">
		        				<span><%= meal.name %></span>
		        			</div>
	        			</li>
	        		<% end %>
        		</ul>
        	<% end %>
        </h6>
      </div>
    </div>
	<% end %>
	<%= link_to "Grocery List", new_list_path, class: "large-3 columns end button" %>
</div>


<script>
	$(function() {
	  $( ".sortable" ).sortable({
		  update: function( event, ui ) {
		  	$('.placeholder').remove();
		  	id = event.target.id
		  	updateDay(id)
		  }
		});

		$( ".sortable" ).sortable({
      connectWith: ".sortable",
      placeholder: "placeholder"
    });

	  $( ".sortable" ).disableSelection();

	  $( ".draggable" ).draggable({
      connectToSortable: ".sortable",
      helper: "clone",
      revert: "invalid",
      stack: ".draggable"
    });

    $(".remove").click(function() {
    	id = $(this).attr("id")
  		$(this).parent().remove();
  		updateDay(id)
		});

		function updateDay(id){
			el = $("#"+id)
			$.ajax({
		    url: "/days/"+id,
		    type: 'PUT',
		    data: { meals: el.sortable("toArray", {attribute: "meal"}) },
		    error: function(result) {
		    	alert("Uh oh! Something went wrong! Try reloading this page");
		    }
			});
		}
	});
</script>