<div class="row">
  <div class="large-12 columns">  
    <div class="row">
      <div class="large-4 small-12 columns">
        <%= image_tag 'Vitamins-from-Food.jpg' %>
        <div class="hide-for-small panel">
          <h3>Meals</h3>
          <h5 class="subheader">
          	Here you can find all your delicious meal ideas!
          </h5>
        </div>
      </div>

      <div class="large-8 columns">
        <% @meals.each_slice(3) do |slice| %>
          <div class="row">
            <% slice.each do |meal| %>
              <div class="large-4 small-6 columns end" id="image-block">
                <%= image_tag meal.image %>
    
                <div class="panel">
                  <h4 class="meal-title"><%= meal.name %></h4>
                  <h6 class="subheader">
                  	<%= "#{meal.ingredients_list.length} 
                  			ingredients" %>
                  </h6>
                  <%= link_to "View", meal_path(meal), class: "button" %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
