<div class="row">

	<div class="show-meal large-10 large-push-3 columns">
		<h1 class="meal-title"><%= @meal.name %></h1>
		<br/>
		<p><%= link_to "Recipe", @meal.recipe, target: "_blank" %></p>
		<h2><em>Ingredients:</em></h2>
		<br/>
		<table>
			<thead>
				<th>Name</th>
				<th>Quantity</th>
				<th>Unit</th>
				<th>Modify</th>
			</thead>
			<tbody>
				<% @meal.ingredients_list.each do |ingredient| %>
					<tr>
						<td><%= ingredient.name %></td>
						<td><%= ingredient.quantity %></td>
						<td><%= ingredient.quantity_units %></td>
						<td>Edit / Delete</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="large-2 large-pull-10 columns">
	  <div class="icon-bar vertical five-up">
	  	<%= link_to meals_path, class: "item" do %>
		    <i class="fa fa-arrow-left"></i>
		    <label>Back</label>
		  <% end %>
		  <%= link_to new_meal_ingredient_path(@meal), class: "item" do %>
		    <i class="fa fa-plus"></i>
		    <label>Add Ingredient</label>
		  <% end %>
		  <%= link_to edit_meal_path(@meal), class: "item" do %>
		    <i class="fa fa-pencil"></i>
		    <label>Edit Meal</label>
		  <% end %>
		  <a class="item">
		    <i class="fa fa-trash-o"></i>
		    <label>Delete Meal</label>
		  </a>
		  <a class="item">
		    <i class="fa fa-cart-plus"></i>
		    <label>Add to This Week</label>
		  </a>
		</div>
	</div>


</div>
